.comparison {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 2px white solid;
}

.compare-card {
  position: absolute;
  top: 240px;
  left: 35%;
  border: 2px grey solid;
  width: 300px;
  background-color: #d54b1a;
  height: 300px;
}

.average-compare {
  font-size: 2em;
}

.clear-btn {
  width: 100px;
  border: 1px white solid;
  background-color: transparent;
  color: white;
}

.clear-btn:hover {
  cursor: pointer;
  color: #d54b1a;
  background-color: white;
}
