

.district-card {
  border: 2px grey solid;
  width: 300px;
  margin: 10px 0;
  text-align: center;
  background-color: rgba(227,167,47, 0.4);
  color: white;
  border-radius: 34px;
}

.percentage-low {
  color: darkred;
}

.percentage-high {
  color: green;
}

.selected,
.district-card:hover {
  background-color: rgb(227,167,47);
}
