

.district-card {
  border: 2px grey solid;
  width: 300px;
  margin: 10px 0;
  text-align: center;
  background-color: rgba(227,167,47, 0.6);
  color: white;
  border-radius: 34px;
}

.district-card-selected {
  background-color: lightgreen;
  border: 10px;
}

.percentage-low {
  color: darkred;
}

.percentage-high {
  color: green;
}
